awsebcli
boto3
cached-property==1.5.1
Django==1.11.11
django-admin-list-filter-dropdown
django-cors-headers
django-filter
django-jet==1.0.7
django-material==1.2.2
django-pipeline==1.6.14
django-report-builder==4.0.3
django-storages==1.6.5
django-viewflow==1.2.0
djangorestframework==3.7.7
gunicorn==19.7.1
Pillow
psycopg2
psycopg2-binary
requests<2.21
selenium==3.10.0
