awsebcli
boto3
cached-property==1.5.1
Django==2.2
django-admin-list-filter-dropdown
django-cors-headers
django-filter
django-3-jet
django-material==1.2.2
django-pipeline
django-report-builder==6.3.2
django-storages
django-viewflow
djangorestframework
gunicorn==19.7.1
Pillow
psycopg2
psycopg2-binary
requests
selenium==3.10.0
