Django==1.11.29
django-admin-list-filter-dropdown
django-cors-headers==2.1.0
django-filter==1.1.0
django-jet==1.0.7
django-material==1.2.2
django-pipeline==1.6.14
django-report-builder==4.0.3
django-storages
django-viewflow==1.2.0
djangorestframework==3.7.7
gunicorn==19.7.1
Pillow
psycopg2-binary
psycopg2
python-dotenv
selenium==3.10.0
