{% extends "admin/index.html" %}

{% if request.user.is_superuser %}
{% block sidebar %}
    {{block.super}}
    <div class="module">
        <table>
			<caption>
				<a title="Powers Inventory">Powers Inventory</a>
			</caption>
			<thead>
				<tr>
					<th>Agent</th>
					{% for type in power_type_headers %}
						<th>{{type}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for r in all_agents %}
					<tr>
						{% for field in r %}
							<td>{{ field }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
    </div>
{% endblock %}
{% endif %}
